/* 🔶 DESTACADO DEL DÍA DE HOY */
.fecha.hoy {
  border-left: 10px solid #ef6c00;
  background-color: #fff3e0;
  padding: 16px;
  border-radius: 12px;
}

/* 🔎 TEXTO MÁS GRANDE SOLO PARA HOY */
.fecha.hoy h2 {
  font-size: 26px;
   color: #e65100;
}

.fecha.hoy .equipos {
  font-size: 22px;
  color: #000;
}

.fecha.hoy .detalle {
  font-size: 20px;
}

